# Config Files #
###################
\DevVS\Data.Factory\App.config
\DevVS\DevWepAPI\appsettings.json
\DevVS\DevWepAPI\appsettings.Release.json
\DevVS\DevWepAPI\appsettings.Debug_Public.json
\DevVS\DevWepAPI\appsettings.Debug_Local.json
